@use '@/styles/variables' as vars;

:root {
  --primary-color: vars.$primary-color;
  --secondary-color: vars.$secondary-color;
  --tertiary-color: vars.$tertiary-color;
  --background-color: vars.$background-color;
  --surface-color: vars.$surface-color;
  --text-primary: vars.$text-primary;
  --text-secondary: vars.$text-secondary;
  --border-color: vars.$border-color;
  --hover-color: vars.$hover-color;
  --padding: vars.$padding;
  --border-radius: vars.$border-radius;
  --shadow-sm: vars.$shadow-sm;
  --shadow-md: vars.$shadow-md;
  --primary-color-rgb: #{$primary-color-rgb};
}
